* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Figtree", serif;
}

.font-4xl, .font-3xl, .font-2xl, .font-xl, .font-lg {
    font-weight: 500;
    line-height: 1.1;
}

.font-4xl {
    font-size: clamp(3.5rem, 3.0229rem + 1.5267vw, 4rem);
}

.font-3xl {
    font-size: clamp(2.5rem, 2.0229rem + 1.5267vw, 3rem);
}

.font-2xl {
    font-size: clamp(2rem, 1.5229rem + 1.5267vw, 2.5rem);
}

.font-xl {
    font-size: clamp(1.5rem, 1.0229rem + 1.5267vw, 2rem);
}

.font-lg {
    font-size: clamp(1.25rem, 1.0115rem + 0.7634vw, 1.5rem);
}

p, a, button, small {
    font-weight: 300;
    line-height: 1.2;
}

p, a, button {
    font-size: 1rem;
}

small {
    font-size: 0.875rem;
}

button, a {
    cursor: pointer;
}

i {
    line-height: 0 !important;
    color: inherit;
    font-size: inherit;
    transition: transform 0.4s;
}

.button {
    padding: 0.8rem 1.6rem;
    border-radius: 1.6rem;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: fit-content;
    height: fit-content;
}

.button:hover>i {
    transform: rotate(-45deg);
}

.button-icon {
    padding: 0.8rem;
}

.button-full {
    border: 1px solid #18181B;
    background-color: #18181B;
    color: #E4E4E7;
}

.button-full:hover {
    background-color: #18181B40;
    color: #18181B;
}

.button-outline {
    border: 1px solid #18181B;
    color: #18181B;
}

.button-outline:hover {
    background-color: #18181B;
    color: #E4E4E7;
}